body {
	background: #444;
	background: -o-linear-gradient(#0d0d0d,#0d0d0d);
	background: -webkit-linear-gradient(#0d0d0d,#0d0d0d);
	background: -moz-linear-gradient(#0d0d0d,#0d0d0d);
	background: linear-gradient(#0d0d0d,#0d0d0d);
	font-family: 'Montserrat' sans-serif;
	font-size: 20px;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

#version {
	position: fixed;
	bottom: 0px;
	right: 0px;
	color: #777;
	padding: 10px;
	z-index: 100;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a:after {
	display: block;
	content: '';
	border-bottom: solid 1px black;
	transform: scaleX(0);
	transition: transform 300ms;
}

a:hover, a#version:hover {
	color: #0080ff;
	transform-origin: 50% 50%;
}

a:hover:after {
	transform: scaleX(1);
}

ul {
	list-style: none;
	text-align: center;
}

